<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <script>
    var dropBox;
 
    window.onload = function() {
      dropBox = document.getElementById("dropBox");
      dropBox.ondragenter = ignoreDrag;
      dropBox.ondragover = ignoreDrag;
      dropBox.ondrop = drop;
    }
 
    function ignoreDrag(e) {
      //因为我们在处理拖放，所以应该确保没有其他元素会取得这个事件
      e.stopPropagation();
      e.preventDefault();
      
    }
 
    function drop(e) {
      //取消事件传播及默认行为
      e.stopPropagation();
      e.preventDefault();
      
      //取得拖进来的文件
      var data = e.dataTransfer;
      var files = data.files;
      //将其传给真正的处理文件的函数
      processFiles(files);
    }
 
    function processFiles(files) {
      var file = files[0];
      var output = document.getElementById("fileOutput");
      //创建FileReader
      var reader = new FileReader();
      //告诉它在准备好数据之后做什么
      reader.onload = function (e) {
        //使用图像URL来绘制dropBox的背景
        dropBox.style.backgroundImage = "url('" + e.target.result + "')";
      };
      //读取图片
      reader.readAsDataURL(file);
    }
 
    function showFileInput() {
      var fileInput = document.getElementById("fileInput");
      fileInput.click();
    }
  </script>
     <style>
    #dropBox {
      
      width: 250px;
      height: 250px;
      border: 5px dashed gray;
      border-radius: 8px;
      background: lightyellow;
      background-size: 100%;
      background-repeat: no-repeat;
      text-align: center;
    }
      
    #dropBox div {
      
      color: light-black;
      font-size: 25px;
      font-family: Verdana, Arial, sans-serif;
    }
 
    input {
      margin: 1px;
      
    }
  </style>
    </head>
    <body >
       
        <div class="container" >
            <div class="jumbotron" style="height:375px;background-color:white">
               
                <nav class="navbar navbar-default navbar-fixed-top" style="position:absolute;left:385px;width:1040px;background-color:white">
                  <div class="container" style="width:1015px;text-align:center;font-size:30px;position:absolute;left:65px"><div style="background-color:#FFD382;border-style: outset;"><b>京典行程</b></div>

                  </div>
                </nav>
                

                <div id="slideshow" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">

                    <div class="item active"><img src="https://i.imgur.com/yuhY5oy.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>

                    <div class="item"><img src="https://i.imgur.com/C2CPQhW.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>

                    <div class="item"><img src="https://i.imgur.com/zli1XqJ.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>

                    <div class="item"><img src="https://i.imgur.com/aNnJKEP.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>
                    <div class="item"><img src="https://i.imgur.com/gnZbKDO.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>
                    <div class="item"><img src="https://i.imgur.com/YB6DDod.jpg" alt="">
                        <div class="carousel-caption"><h3></h3></div>
                    </div>
                    
        </div>
        
        <div class="control-btn">
            <a href="#slideshow" class="left carousel-control" role="button" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left" aria-hiddden="true"></span>
            </a>
            <a href="#slideshow" class="right carousel-control" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hiddden="true"></span>
            </a>
        </div>
        
        <ol class="carousel-indicators">
            <li data-target="#slideshow" data-slide-to="0"></li>
            <li data-target="#slideshow" data-slide-to="1"></li>
            <li data-target="#slideshow" data-slide-to="2"></li>
            <li data-target="#slideshow" data-slide-to="3"></li>
            <li data-target="#slideshow" data-slide-to="4"></li>
            <li data-target="#slideshow" data-slide-to="5"></li>
            
        </ol>
        
        </div>
    
        <div id="dropBox" style="width:1020px;height:550px;overflow:auto; resize:both;background-color:gray;opacity:0.6;background-color: rgba(255, 255, 255, .8);">
            <div class="col-lg-3" style="position:absolute;top: 55%;left: 40%;width:360px;">
              <h2>請放入您想要查詢的圖片</h2>
            </div>
        </div>
        <input id="fileInput" type="file" onchange="processFiles(this.files)"  >
        <img id="thumbnail"> 
   
     <div class="row marketing;" style="display:block;border:2px solid #939699;position:absolute;top:400px;left:1510px;width:400px;background-color:white;height:395px;">
    
    <div><iframe width="400" height="395" src="https://www.youtube-nocookie.com/embed/7Ai6Y5GcJVw?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>    
        
    </div>    
    </div>
    
    <div style="position:absolute;left:910px;top:860px;">
    <input style="width:100px;height:50px;" type="button" value="確定" onclick="if(confirm('您確定送出這張圖片嗎?')) return self.location.href='1.html';else return false;"/>
    
    </div>
    
     <div class="container-fluid" style="position:absolute;left:235px;top:60px;">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              　<a class="nav-link " href="#"><div style="width:168px;font-size:30px;"><b>首頁</b></div> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div style="width:168px;font-size:30px;">機票資訊</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div style="width:168px;font-size:30px;">飯店資訊</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div style="width:168px;font-size:30px;">專題花絮</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div style="width:168px;font-size:30px;">關於我們</div></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><div style="width:168px;font-size:30px;">問與答</div></a>
            </li>
          </ul>

          
        </nav>

        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </div>
    <div class="container" style="position:absolute;left:1540px;top:20px;width:300px;">

      <form class="form-signin">
        <h2 class="form-signin-heading">會員登入</h2>
        <label for="inputEmail" class="sr-only" style="position:absolute;top:110px;" >Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus style="position:absolute;">
        <label for="inputPassword" class="sr-only" style="position:absolute;top:110px;">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required style="position:absolute;top:100px;">
        <div class="checkbox">
          <label style="position:absolute;top:80px;">
            <input type="checkbox" value="remember-me" > 記住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="position:absolute;top:170px;">登入</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="position:absolute;top:220px;">忘記密碼</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="position:absolute;top:270px;">加入會員</button>
      </form>

    </div> <!-- /container -->

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>



</html>